.container{
    height: 500px;
    width: auto;
    background-image: url('../files/imgs/img20.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
}

    .form-control:focus {
        border-color: #28a745; /* Change to your preferred color */
        box-shadow: 0 0 5px rgba(40, 167, 69, 0.5); /* Adds a subtle glow */
    }
